@charset "UTF-8";

// The Meta-Engineer - Custom Font Definitions
// Three-font system: Source Serif 4 (body), Source Sans 3 (headings), JetBrains Mono (code)

// === Source Serif 4 - Body Text Font ===
@font-face {
  font-family: "Source Serif 4";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/source-serif-4-latin-400-normal.woff2) format("woff2");
}

@font-face {
  font-family: "Source Serif 4";
  font-style: italic;
  font-weight: 400;
  src: url(fonts/source-serif-4-latin-400-italic.woff2) format("woff2");
}

@font-face {
  font-family: "Source Serif 4";
  font-style: normal;
  font-weight: 600;
  src: url(fonts/source-serif-4-latin-600-normal.woff2) format("woff2");
}

@font-face {
  font-family: "Source Serif 4";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/source-serif-4-latin-700-normal.woff2) format("woff2");
}

// === Source Sans 3 - Heading Font ===
@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/source-sans-3-latin-400-normal.woff2) format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 600;
  src: url(fonts/source-sans-3-latin-600-normal.woff2) format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/source-sans-3-latin-700-normal.woff2) format("woff2");
}

// === JetBrains Mono - Code Font ===
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: normal;
  src: url(fonts/JetBrainsMono-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: bold;
  src: url(fonts/JetBrainsMono-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: normal;
  src: url(fonts/JetBrainsMono-Italic.ttf) format("truetype");
}

// === Icon Fonts (from default asciidoctor-epub3) ===
// Note: We keep these for admonition icons and other UI elements
@font-face {
  font-family: "Font Awesome 6 Free Solid";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/awesome/fa-solid-900.ttf) format("truetype");
}

@font-face {
  font-family: "FontIcons";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/assorted-icons.ttf) format("truetype");
}
